.adminPanel {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/admin.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.adminPanel h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    gap: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.logoutButton {
    background-color: #dc3545;
}

.logoutButton:hover {
    background-color: #c82333;
}

.logout-section {
    margin-bottom: 20px;
}

.content {
    width: 100%;
    max-width: 900px;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}